* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-text {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

/* banner styles */

.banner {
    display: flex;
    margin: 50px 200px;
    align-items: center;
}

.banner-subtitle {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* about section */

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.about-name {
    font-size: 20px;
    color: #757575;
}

.about-body {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}